<!-- Project List Component Template -->
<div class="w-full flex flex-col-reverse items-center gap-7 lg:gap-14">
    @defer {
    @for (project of projects; track $index) {
    <div
        class="w-full p-3.5 lg:p-5 max-h-[70svh] xl:h-[60svh] 2xl:h-[50svh] shadow-xl shadow-primary/40 md:shadow-primary/20 hover:shadow-primary/60 transition rounded-lg flex flex-col md:flex-row md:odd:flex-row-reverse gap-4 items-stretch">


        <!-- Image / Picture Placeholder -->
        <div aria-hidden="true"
            class="flex w-full md:w-1/2 xl:w-[66%] items-center justify-center bg-light rounded-lg overflow-hidden">
            <div class="w-full h-full lg:max-h-full lg:h-full flex items-center justify-center overflow-hidden">
                @if (project.content.info_card.picture.url) {
                <a [routerLink]="['/project', project.id]" class="w-full h-full " tabindex="-1">
                    <img [src]="project.content.info_card.picture.url" [alt]="project.content.info_card.picture.alt"
                        class="w-full h-full object-contain transform hover:scale-[1.2] hover:brightness-[.85] transition duration-[800ms]" />
                </a>
                }
                @else {
                <span class="text-smooth_dark text-lg sm:text-xl font-spartan text-center">
                    Project Main Picture Placeholder
                </span>
                }
            </div>
        </div>


        <!-- Project Info -->
        <div
            class="w-full md:w-1/2 xl:w-[33%] p-4 lg:p-5 2xl:p-7 rounded-lg bg-light flex flex-col gap-2 2xl:gap-4 self-stretch justify-around">
            <h3 class="text-accent_purple text-3xl xl:text-4xl font-bold font-spartan truncate"
                [title]="project.content.info_card.title">
                <a [routerLink]="['/project', project.id]" tabindex="-1" class="relative max-w-full inline-block 
           bg-gradient-to-r from-accent_purple to-accent_purple 
           bg-[length:0%_2px] bg-no-repeat bg-left-bottom 
           transition-all duration-300 ease-out
           hover:bg-[length:100%_2px] truncate">
                    {{ project.content.info_card.title }}
                </a>
            </h3>
            <h4 class="text-smooth_dark text-xl xl:text-2xl font-semibold font-spartan">
                {{ project.content.info_card.subtitle }}
            </h4>

            <p class="hidden lg:flex text-smooth_dark text-base xl:text-lg font-spartan">
                {{ project.content.info_card.desc }}
            </p>

            <!-- Keywords Chips -->
            <div class="relative">
                <!-- Left shadow -->
                <div aria-hidden="true"
                    class=" pointer-events-none absolute left-0 top-0 h-full w-6 bg-gradient-to-r from-smooth_dark/30 to-transparent transition-opacity duration-100 z-10"
                    [class.opacity-0]="!showLeftShadow[$index]" [class.opacity-100]="showLeftShadow[$index]"></div>
                <!-- Right shadow -->
                <div aria-hidden="true"
                    class="pointer-events-none absolute right-0 top-0 h-full w-6 bg-gradient-to-l from-smooth_dark/30 to-transparent transition-opacity duration-100 z-10"
                    [class.opacity-0]="!showRightShadow[$index]" [class.opacity-100]="showRightShadow[$index]"></div>
                <div class="swiper chips-swiper relative overflow-hidden" [attr.data-index]="$index">
                    <div class="swiper-wrapper">
                        @for (keyword of project.content.info_card.key_words; track $index) {
                        <div
                            class="swiper-slide !w-auto text-white text-sm lg:text-base px-3 py-1 rounded-full {{ getChipColor($index) }}">
                            {{ keyword }}
                        </div>
                        }
                    </div>
                </div>
            </div>

            <!-- Read More Button -->
            <a [routerLink]="['/project', project.id]"
                class="px-6 py-2 xl:px-8 xl:py-3 text-base xl:text-xl font-bold flex justify-center items-center bg-accent_purple shadow-lg text-light rounded-lg hover:bg-white hover:outline hover:outline-2 hover:outline-accent_purple hover:text-accent_purple transition">
                Read More
            </a>
        </div>
    </div>
    }
    }
</div>