.divider {
    @apply block h-1 bg-accent_purple self-stretch
}

.skill-header {
    text-shadow: 1px 1px 0px #0000006e, 3px 3px 0px #91C8E4, 7px 7px 0px #69B2D7, 11px 11px 0px #449ECB, 15px 15px 0px #238ABE;
    scale: 1.5;
}

@media (min-width: 1024px) {

    .skill-header {
        text-shadow: none;
        scale: 1;
    }

    .section:hover .skill-header {
    text-shadow: 1px 1px 0px #0000006e, 3px 3px 0px #91C8E4, 7px 7px 0px #69B2D7, 11px 11px 0px #449ECB, 15px 15px 0px #238ABE;
    scale: 1.5;
}
}


.skill-card {
    @apply p-2 px-4 lg:p-6 rounded-2xl bg-light shadow-md shadow-smooth_dark flex flex-col gap-4 border border-gray-100 transition-all
}

.skill-card:hover {
    @apply bg-light lg:scale-105 lg:shadow-stacked lg:transition-all
}

.skill-card-header-title {
    @apply flex items-center gap-3 w-full p-1 font-spartan bg-light border-b-2 border-b-transparent transition-colors duration-500
}



.skill-card-list {
    transition: max-height 0.35s ease, opacity 0.25s ease;
    @apply list-inside text-smooth_dark font-spartan text-lg overflow-hidden max-h-0 opacity-0 m-0
}

.skill-card-list.open {
    @apply max-h-[1000px] opacity-100;
}

.skill-card-list li::marker {
    content: "★  ";
    @apply text-accent_purple
}

.skill-card-header-label {
    @apply text-accent_purple text-2xl font-semibold text-start
}


.skill-icon {
    @apply text-accent_purple !size-10 stroke-current stroke-[1.5] fill-none
}

.what_i_do-icon {
    @apply text-accent_purple !size-16 stroke-current stroke-[0.2] fill-accent_purple place-items-center
}

.what_i_do-list li {
    @apply items-center
}