.enter-animation {
    animation: slide-fade 1s;
}


.leave-animation {
    animation: slide-fade 0.5s reverse;
}


.animate-launch {
    animation: rocket-launch 2.5s cubic-bezier(.55, .25, .31, .97) forwards;
    /* one-time, no loop */
}



@keyframes slide-fade {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.rocket {
    --rocket-scale: 0.5;
    /* default */
}

@media (min-width: 768px) {
    .rocket {
        --rocket-scale: 1;
        /* md */
    }
}

@media (min-width: 1280px) {
    .rocket {
        --rocket-scale: 1.2;
        /* xl */
    }
}

@keyframes rocket-launch {
    0% {
        transform: translate(0, 0) scale(var(--rocket-scale)) rotate(45deg);
        opacity: 1;
    }
    100% {
        transform: translate(17vw, -17vh) scale(calc(var(--rocket-scale) * 0.4)) rotate(45deg);
        opacity: 0;
    }
}



/* Stars */
.star li {
    @apply absolute list-none;
}

.star li::before,
.star li::after {
    content: "";
    @apply absolute bg-light;
}

.star li::before {
    width: 10px;
    height: 2px;
    border-radius: 50%;
}

.star li::after {
    height: 8px;
    width: 2px;
    left: 4px;
    top: -3px;
}

.star li:nth-child(1) {
    top: -30px;
    left: -210px;
    animation: twinkle 0.4s infinite;
}

.star li:nth-child(2) {
    top: 0;
    left: 60px;
    animation: twinkle 0.5s infinite;
}

.star li:nth-child(3) {
    top: 220px;
    left: 120px;
    animation: twinkle 1s infinite;
}

.star li:nth-child(4) {
    top: 200px;
    left: -100px;
    animation: twinkle 0.5s infinite;
}

.star li:nth-child(5) {
    top: 100px;
    left: 170px;
    animation: twinkle 0.4s infinite;
}

.star li:nth-child(6) {
    top: 87px;
    left: -79px;
    animation: twinkle 0.2s infinite;
}

@keyframes twinkle {
    80% {
        transform: scale(1.1);
        opacity: 0.7;
    }
}