@if (project$ | async; as project)
{<div class="flex flex-col gap-20">
    <!-- Hero -->
    <section class="flex flex-col items-center text-center h-hero lg:h-hero-lg">
        <!-- Title -->
        <h1 class="text-smooth_dark text-5xl lg:text-8xl font-spartan" [innerHTML]="project.content.info_card.title">
        </h1>

        <!-- Middle container: Game or img + icon -->
        <div class="flex-1 flex flex-col lg:flex-row items-center justify-center w-full overflow-hidden gap-8">

            <!-- Unity Game with Iframe -->
            @if(project.content.info_card.hasGame) {
            <div aria-hidden="true" tabindex="-1"
                class="max-w-full max-h-full h-full w-full lg:flex-1 flex justify-center items-stretch">
                @if (unityLoaded) {
                <div class="relative w-full h-full flex justify-center items-end">

                    <!-- Iframe container -->
                    <div #unityContainer aria-hidden="true" tabindex="-1" class="w-full h-full">

                        <!-- Fullscreen button -->
                        <button aria-hidden="true" tabindex="-1"
                            class="absolute bottom-2 right-2 bg-accent_purple text-white flex items-center gap-2 text-center p-2 rounded font-konkhmer duration-300 ease-in-out hover:scale-125 z-10"
                            (click)="toggleFullScreen()">
                            @if(!isFullscreen) {
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="relative z-10 lucide lucide-expand-icon lucide-expand">
                                <path d="m15 15 6 6" />
                                <path d="m15 9 6-6" />
                                <path d="M21 16v5h-5" />
                                <path d="M21 8V3h-5" />
                                <path d="M3 16v5h5" />
                                <path d="m3 21 6-6" />
                                <path d="M3 8V3h5" />
                                <path d="M9 9 3 3" />
                            </svg>
                            } @else {
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="relative z-10 lucide lucide-shrink-icon lucide-shrink">
                                <path d="m15 15 6 6m-6-6v4.8m0-4.8h4.8" />
                                <path d="M9 19.8V15m0 0H4.2M9 15l-6 6" />
                                <path d="M15 4.2V9m0 0h4.8M15 9l6-6" />
                                <path d="M9 4.2V9m0 0H4.2M9 9 3 3" />
                            </svg>
                            }
                        </button>
                    </div>
                </div>
                }
            </div>
            }

            <!-- Picture (if no game) -->
            @else if (project.content.info_card.picture.url) {
            <img [src]="project.content.info_card.picture.url" [alt]="project.content.info_card.picture.alt"
                class="max-w-full max-h-full object-contain lg:flex-1" />
            }
            @else {
            <span aria-hidden class="text-smooth_dark text-lg sm:text-xl font-spartan">
                Project Main Picture Placeholder
            </span>
            }

            @if(!project.content.info_card.hasGame) {
            <!-- Rotating icon -->
            <div aria-hidden class="hidden lg:flex justify-center items-center lg:flex-1">
                <app-rotating-text-icon [size]="90" [fontSize]="10" [text]="'READ MORE'" [speed]="14"
                    [scale]="2"></app-rotating-text-icon>
            </div>
            }
        </div>
    </section>




    <div class="w-full border-t-4 border-primary"></div>

    <!-- Overview -->
    <section class="flex flex-col lg:flex-row items-start gap-8 lg:gap-12">
        <h2 class="lg:w-80 text-dark font-semibold text-3xl md:text-4xl lg:text-5xl font-spartan">
            PROJECT OVERVIEW
        </h2>
        <p class="flex-1 text-smooth_dark text-base sm:text-lg md:text-xl font-spartan"
            [innerHTML]="project.content.project_overview.desc">
        </p>
    </section>

    <!-- Objective -->
    <section class="flex flex-col gap-6 md:gap-12">
        <h3 class="text-accent_purple text-2xl md:text-3xl font-bold font-spartan">OBJECTIVE / CHALLENGE</h3>
        <p class="text-smooth_dark text-base sm:text-lg md:text-xl font-spartan"
            [innerHTML]="project.content.project_overview.objective">
        </p>
    </section>

    <!-- Timeframe / Skills / Tech -->
    <section class="flex flex-col md:flex-row justify-between w-full gap-6">
        <div class="flex-1 flex flex-col gap-4">
            <h3 class="text-accent_purple text-2xl md:text-3xl font-bold font-spartan">TIMEFRAME</h3>
            <p class="text-smooth_dark text-base sm:text-lg md:text-xl font-spartan"
                [innerHTML]="project.content.project_overview.timeframe">
            </p>
        </div>
        <div class="flex-1 flex flex-col gap-4">
            <h3 class="text-accent_purple text-2xl md:text-3xl font-bold font-spartan">SKILLS USED</h3>
            <p class="text-smooth_dark text-base sm:text-lg md:text-xl font-spartan"
                [innerHTML]="project.content.project_overview.skills">
            </p>
        </div>
        <div class="flex-1 flex flex-col gap-4">
            <h3 class="text-accent_purple text-2xl md:text-3xl font-bold font-spartan">TECH INVOLVED</h3>
            <p class="text-smooth_dark text-base sm:text-lg md:text-xl font-spartan"
                [innerHTML]="project.content.project_overview.tech">
            </p>
        </div>
    </section>

    <div class="w-full border-t-4 border-primary"></div>

    <!-- Process -->
    <section class="flex flex-col gap-8 lg:gap-30">
        <h2 class="text-smooth_dark text-3xl md:text-4xl lg:text-5xl font-spartan">PROCESS</h2>
        <div class="flex flex-col gap-8 lg:gap-40">
            @for (step of project.content.process.steps; track $index; let idx = $index) {
            <div class="flex flex-col gap-3">
                <h3 class="text-accent_purple text-2xl md:text-3xl font-bold font-spartan">
                    Process Step {{ idx + 1 }} - {{ step.step_title }}
                </h3>
                <div class="project-content-rich-text" [innerHTML]="step.content"></div>
                @if (step.picture) {
                <img [src]="step.picture.url" [alt]="step.picture.alt" class="w-full max-h-[70svh] object-contain" />
                @if(step.picture.source){
                <p class="text-sm text-gray-500 mt-1">
                    {{ step.picture.source }}
                </p>
                }
                }
            </div>
            }

        </div>
    </section>

    <!-- Results -->
    <section class="flex flex-col gap-6 md:gap-12">
        <h3 class="text-accent_purple text-2xl md:text-3xl font-bold font-spartan">RESULTS & IMPACTS</h3>
        <div class="project-content-rich-text" [innerHTML]="project.content.process.results">
        </div>

    </section>

    <!-- Personal Reflection -->
    @if(project.content.process.personal_reflection){
    <div class="w-full border-t-4 border-primary"></div>


    <section class="flex flex-col gap-6 md:gap-12">
        <h3 class="text-accent_purple text-2xl md:text-3xl font-bold font-spartan">PERSONAL REFLECTION</h3>
        <div class="project-content-rich-text" [innerHTML]="project.content.process.personal_reflection"></div>

    </section>

    }

    <!-- Gallery -->
    @if (project.content.gallery.length>0)
    {
    <div class="w-full border-t-4 border-primary"></div>
    <section class="flex flex-col gap-10">
        <h2 class="text-smooth_dark text-3xl md:text-4xl lg:text-5xl font-spartan">VISUAL GALLERY</h2>
        <div class="flex flex-col gap-4 sm:gap-7">
            @for (item of project.content.gallery; track $index) {
            <h3 class="text-accent_purple text-2xl md:text-3xl font-bold font-spartan" [innerHTML]="item.picture.title">
            </h3>
            <p class="text-smooth_dark text-base sm:text-lg md:text-xl font-spartan">
                <span [innerHTML]="item.picture.date"></span>,
                <span [innerHTML]="item.picture.location"></span><br />
                <span [innerHTML]="item.picture.desc"></span>
            </p>
            @if (item.picture.url) {
            <img [src]="item.picture.url" class="w-full h-40 sm:h-48 object-cover" [alt]="item.picture.alt" />
            }
            }
        </div>
    </section>}
</div>}