@if (project$ | async; as project)
{<div class="flex flex-col gap-8 lg:gap-20">
    <!-- Hero -->
    <section class="flex flex-col items-center text-center h-hero lg:h-hero-lg">
        <!-- Title -->
        <h1 class="text-smooth_dark text-5xl lg:text-8xl font-spartan" [innerHTML]="project.content.info_card.title">
        </h1>

        <!-- Middle container: Game or img + icon -->
        <div class="flex-1 flex flex-col lg:flex-row items-center justify-center w-full overflow-hidden gap-8">

            <!-- Unity Game with Iframe -->
            @if(project.content.info_card.hasGame) {
            <div aria-hidden="true" tabindex="-1"
                class="max-w-full max-h-full h-full w-full lg:flex-1 flex justify-center items-stretch">

                <div class="relative w-full h-full flex justify-center items-center">

                    <!-- Iframe container -->
                    <div #unityContainer aria-hidden="true" tabindex="-1" class="w-full h-full"></div>

                    @if (!userPressedLaunch)
                    {
                    <img [src]="project.content.info_card.picture.url" [alt]="project.content.info_card.picture.alt"
                        class="absolute inset-0 w-full h-full object-cover z-10" />
                    <button
                        class=" absolute z-20 top-1/4 left-1/2 -translate-x-1/2 -translate-y-1/4  justify-center shrink  px-6 py-3 shadow-xl bg-primary text-light rounded-full font-bold text-24 xl:text-4xl hover:bg-accent_purple transition"
                        (click)="launchUnityGame()">
                        Launch Game
                    </button>}
                </div>

            </div>
            }

            <!-- Picture (if no game) -->
            @else if (project.content.info_card.picture.url) {
            <img [src]="project.content.info_card.picture.url" [alt]="project.content.info_card.picture.alt"
                class="max-w-full max-h-full object-contain lg:flex-1 transform hover:scale-[1.2] transition duration-[800ms]" />
            }
            @else {
            <span aria-hidden class="text-smooth_dark text-lg sm:text-xl font-spartan">
                Project Main Picture Placeholder
            </span>
            }

            @if(!project.content.info_card.hasGame) {
            <!-- Rotating icon -->
            <div aria-hidden class="hidden lg:flex justify-center items-center lg:flex-1">
                <app-rotating-text-icon [size]="90" [fontSize]="10" [text]="'READ MORE'" [speed]="14"
                    [scale]="2"></app-rotating-text-icon>
            </div>
            }
        </div>
    </section>




    <div class="w-full border-t-4 border-primary"></div>

    <!-- Overview -->
    <section class="flex flex-col lg:flex-row items-start gap-8 lg:gap-12">
        <h2 class="lg:w-80 text-dark font-semibold text-3xl md:text-4xl lg:text-5xl font-spartan">
            PROJECT OVERVIEW
        </h2>
        <p class="flex-1 text-smooth_dark text-base sm:text-lg md:text-xl font-spartan"
            [innerHTML]="project.content.project_overview.desc">
        </p>
    </section>

    <!-- Objective -->
    <section class="flex flex-col gap-4 md:gap-8">
        <h3 class="text-accent_purple text-2xl md:text-3xl font-bold font-spartan">OBJECTIVE / CHALLENGE</h3>
        <p class="text-smooth_dark text-base sm:text-lg md:text-xl font-spartan"
            [innerHTML]="project.content.project_overview.objective">
        </p>
    </section>

    <!-- Timeframe / Skills / Tech -->
    <section class="flex flex-col md:flex-row justify-between w-full gap-6">
        <div class="flex-1 flex flex-col gap-4">
            <h3 class="text-accent_purple text-2xl md:text-3xl font-bold font-spartan">TIMEFRAME</h3>
            <p class="text-smooth_dark text-base sm:text-lg md:text-xl font-spartan"
                [innerHTML]="project.content.project_overview.timeframe">
            </p>
        </div>
        <div class="flex-1 flex flex-col gap-4">
            <h3 class="text-accent_purple text-2xl md:text-3xl font-bold font-spartan">SKILLS USED</h3>
            <p class="text-smooth_dark text-base sm:text-lg md:text-xl font-spartan"
                [innerHTML]="project.content.project_overview.skills">
            </p>
        </div>
        <div class="flex-1 flex flex-col gap-4">
            <h3 class="text-accent_purple text-2xl md:text-3xl font-bold font-spartan">TECH INVOLVED</h3>
            <p class="text-smooth_dark text-base sm:text-lg md:text-xl font-spartan"
                [innerHTML]="project.content.project_overview.tech">
            </p>
        </div>
    </section>

    <div class="w-full border-t-4 border-primary"></div>

    <!-- Process -->
    <app-project-process [processStep]="project.content.process.steps" />

    <!-- Results -->
    <section class="flex flex-col gap-4 md:gap-8">
        <h3 class="text-accent_purple text-2xl md:text-3xl font-bold font-spartan">RESULTS & IMPACTS</h3>
        <div class="project-content-rich-text" [innerHTML]="project.content.process.results">
        </div>

    </section>

    <!-- Personal Reflection -->
    @if(project.content.process.personal_reflection){
    <div class="w-full border-t-4 border-primary"></div>


    <section class="flex flex-col gap-4 md:gap-8">
        <h3 class="text-accent_purple text-2xl md:text-3xl font-bold font-spartan">PERSONAL REFLECTION</h3>
        <div class="project-content-rich-text" [innerHTML]="project.content.process.personal_reflection"></div>

    </section>

    }

    <!-- Gallery -->
    @if (project.content.gallery.length>0)
    {
    <div class="w-full border-t-4 border-primary"></div>
    <section class="flex flex-col gap-10">
        <h2 class="text-smooth_dark text-3xl md:text-4xl lg:text-5xl font-spartan">VISUAL GALLERY</h2>
        <div class="flex flex-col gap-4 sm:gap-7">
            @for (item of project.content.gallery; track $index) {
            <h3 class="text-accent_purple text-2xl md:text-3xl font-bold font-spartan" [innerHTML]="item.picture.title">
            </h3>
            <p class="text-smooth_dark text-base sm:text-lg md:text-xl font-spartan">
                <span [innerHTML]="item.picture.date"></span>,
                <span [innerHTML]="item.picture.location"></span><br />
                <span [innerHTML]="item.picture.desc"></span>
            </p>
            @if (item.picture.url) {
            <img [src]="item.picture.url" class="w-full h-40 sm:h-48 object-cover" [alt]="item.picture.alt" />
            }
            }
        </div>
    </section>}
</div>}