@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@tailwind base;
@tailwind components;
@tailwind utilities;


.project-content-rich-text {
  @apply flex flex-col gap-3 md:gap-5 lg:gap-10 max-w-none w-full text-smooth_dark text-base sm:text-sm md:text-base lg:text-xl font-spartan;

}

.project-content-rich-text ul{
  @apply list-outside ml-3 md:ml-5 lg:ml-7 xl:ml-10;
}

.project-content-rich-text li  {
  @apply list-outside mb-3 md:mb-5 lg:mb-7 xl:mb-10;
}

.project-content-rich-text li:last-child {
  @apply mb-0 md:mb-0 lg:mb-0;
}

.project-content-rich-text ul li::marker {
  content: "★ ";
  @apply text-accent_purple list-outside mb-3 md:mb-5 lg:mb-7 xl:mb-10;
}

.project-content-rich-text a {
  @apply  text-accent_purple text-base underline font-semibold sm:text-sm md:text-base lg:text-xl font-spartan;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer base {
  /* custom in focus outline */
  /* define focus color per background */
  .bg-accent_purple {
    --focus-ring: theme('colors.accent_blue');
  }

  .bg-light {
    --focus-ring: theme('colors.accent_purple');
  }

  .bg-primary {
    --focus-ring: theme('colors.light');
  }
  a:focus-visible,
  button:focus-visible,
  input:focus-visible,
  textarea:focus-visible {
    @apply ring-2 rounded-md outline-none;
    box-shadow:0 0 0 3px var(--focus-ring), 0 0 0 4px rgba(0,0,0,0.2) ;    /* fallback for Tailwind */
  }


}