<footer class="bg-primary text-light font-konkhmer px-6 xl:px-16 py-5">
    <nav
        class="flex flex-col md:flex-row grow  items-center md:items-end text-basis lg:text-xl text-light md:divide-x-2 divide-solid divide-light">
        <!-- Logo -->
        <a routerLink="/home" class="grow flex justify-center items-center mb-4 md:mb-0">
            <img src="./Main_Logo.webp" alt="Logo" class="h-[3lh] lg:h-[4lh] xl:h-[6lh] w-auto object-contain" />
        </a>

        <!-- Nav links -->
        @for (link of navLinks; track $index) {
        <div class="grow flex justify-center items-center">

            <!--Edge case for the resume-->
            @if (link.href) {
            <a [href]="link.href" target="_blank" class="relative text-center mb-4 md:mb-0 md:mb-0 after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:bg-accent_blue after:transition-all after:duration-300 hover:after:w-full transition-colors">
                {{ link.label }}
            </a>}
            @else {
            <a [routerLink]="link.path" routerLinkActive="text-accent_blue"
                [routerLinkActiveOptions]="{ exact: link.exact || false }"
                class="relative text-center mb-4 md:mb-0 after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:bg-accent_blue after:transition-all after:duration-300 hover:after:w-full transition-colors">
                {{ link.label }}
            </a>
            }
        </div>
        }
        <!-- Social links -->
        @for (social of socialLinks; track $index) {
        <a [href]="social.href" class="grow flex justify-center items-center mb-4 md:mb-0">
            <img [src]="social.img" [alt]="social.alt" class="h-[1lh] w-auto object-contain" />
        </a>
        }
        <!-- Copyright -->
        <div class="grow text-center flex items-center justify-center">
            © {{ currentYear }} Thibault Borde
        </div>
    </nav>
</footer>