<footer class="bg-primary text-light font-konkhmer px-6 xl:px-16 py-5">
    <nav
        class="flex flex-col md:flex-row grow  items-center md:items-end text-basis lg:text-xl text-light md:divide-x-2 divide-solid divide-light">
        <!-- Logo -->
        <a routerLink="/home" class="grow flex justify-center items-center mb-4 md:mb-0">
            <img src="./Main_Logo.webp" alt="Logo" class="h-[3lh] lg:h-[4lh] xl:h-[6lh] w-auto object-contain" />
        </a>

        <!-- Nav links -->
        @for (link of navLinks; track $index) {
            <!--Edge case for the resume-->
        @if (link.href) {
        <a [href]="link.href" target="_blank" class="grow text-center transition-colors mb-4 md:mb-0">
            {{ link.label }}
        </a>}
        @else {
        <a [routerLink]="link.path" routerLinkActive="text-accent_blue"
            [routerLinkActiveOptions]="{ exact: link.exact || false }"
            class="grow text-center transition-colors mb-4 md:mb-0">
            {{ link.label }}
        </a>
        }
        }
        <!-- Social links -->
        @for (social of socialLinks; track $index) {
        <a [href]="social.href" class="grow flex justify-center items-center mb-4 md:mb-0">
            <img [src]="social.img" [alt]="social.alt" class="h-[1lh] w-auto object-contain" />
        </a>
        }
        <!-- Copyright -->
        <div class="grow text-center flex items-center justify-center">
            © {{ currentYear }} Thibault Borde
        </div>
    </nav>
</footer>